<h2>
  Add a project
</h2>
<div class="project-form" style="margin: 20px">
  <input type="text" placeholder="Project Title" [(ngModel)]="title" required>
  <br>
  <md-editor name="Content"
             #md="ngModel"
             [upload]="doUpload"
             [preRender]="preRender"
             [postRender]="postRender"
             [(ngModel)]="content"
             [height]="'400px'"
             [mode]="mode"
             [options]="options"
             (onEditorLoaded)="onEditorLoaded($event)"
             (onPreviewDomChanged)="onPreviewDomChanged($event)"
             required
             maxlength="600">
  </md-editor>
  <div class="well well-sm">
    <button class="dialog-button" (click)="togglePreviewPanel()">
      {{ options?.showPreviewPanel ? 'Hide' : 'Show' }} Preview Panel
    </button>
    <br>
    <button class="dialog-button" (click)="changeMode()">
      {{ mode === 'editor' ? 'Preview' : 'Edit'}}
    </button>
  </div>
</div>
