<!--This page should be for posting recent posts, updates and projects-->
<body>
  <h1>
    Welcome to krondor.org!
  </h1>

  <div
  class="content-view">

    <mat-spinner></mat-spinner>

    <p>This site is still thinking about what it wants to be...</p>
    <p>Stay tuned for increased functionality and looks into what I'm working on!</p>
    <p>I plan to:</p>
    <ul>
      <li>Implement a system for me to post about the projects I'm working on</li>
      <li>Allow others to comment and discuss those projects and ideas</li>
      <li>Build up my platform, and maybe allow others to share what they're working on</li>
    </ul>
    <p>-Alex</p>
  </div>
</body>
