.page-content
  justify-content: center
  background-color: black
  color: white
  margin: 0
  height: 100%
  h1
    font: 50px "Helvetica Neue"
    margin-left: 15%
  h2
    font: 40px "Helvetica Neue"
    margin-left: 25%
  body
    //@todo: figure out why I need to rephrase this here
    //Otherwise <body> has a white background
    background-color: black
    color: white
    font: 30px "Helvetica Neue"
    margin-right: 15%
    margin-left: 20%





