<div class="page-content">
  <h1>About me and this Website</h1>
  <h2>Hi, I'm Alex!</h2>
  <body>
    <p>
      This website is the only (current) place where I publicly curate and update information on my work, interests, and life!
      For now this domain is for anyone interested in me, but I hope it can become a platform for fostering meaningful
      online engagement and information sharing.
    </p>
    <p>
      Check out the `projects` page to see what I'm working on; I hope to add more views and types of content soon.
    </p>
    <br>
    <p>
      Some stuff about me:
    </p>
    <ul>
      <li>I enjoy cooking and making music</li>
      <li>I like thinking about history, power, and what they can tell us about technology, institutions, and life</li>
      <li>(I'm looking for a job, here's my <a href="https://www.dropbox.com/s/9tsp98pld65h1tb/Resume.pdf?dl=1">resume</a>)</li>
    </ul>
  </body>
</div>
