<p>This page is under construction! I'm having some trouble getting everything to render correctly :(</p>
<!--<mat-toolbar class="toolbar">-->
<!--  <span>projects.</span>-->
<!--  <span class="spacer"></span>-->
<!--  <button mat-button class='toolbar-button'-->
<!--          aria-label="Add proejct"-->
<!--          (click)="addProject()">-->
<!--    <mat-icon>add</mat-icon>-->
<!--  </button>-->
<!--</mat-toolbar>-->

<!--<mat-sidenav-container [hasBackdrop]="false" autosize>-->
<!--  <mat-sidenav opened="true" class="search-nav">-->
<!--    Project Search bar-->
<!--  </mat-sidenav>-->
<!--  <mat-sidenav-content>-->
<!--    <section>-->
<!--      <mat-card>-->
<!--        test-->
<!--      </mat-card>-->
<!--      <mat-accordion>-->
<!--        <mat-expansion-panel *ngFor="let p of projectPanels"-->
<!--                             hideToggle-->
<!--                             (opened)="p.opened = true"-->
<!--                             (closed)="p.opened = false">-->
<!--          <mat-expansion-panel-header>-->
<!--            <mat-panel-title>-->
<!--              {{p.project.title}}-->
<!--            </mat-panel-title>-->
<!--            <mat-panel-description>-->
<!--              {{p.project.description}}-->
<!--            </mat-panel-description>-->
<!--          </mat-expansion-panel-header>-->
<!--          <p>This is the preview page of the project...</p>-->
<!--        </mat-expansion-panel>-->
<!--      </mat-accordion>-->
<!--    </section>-->
<!--  </mat-sidenav-content>-->
<!--</mat-sidenav-container>-->
