<body>
<!--Our sidenav component-->
  <aside>
    <ul class="tree-view">
      <li>Show:
          <ul>
            <li *ngFor="let t of tagOptions">
              <input
                type="checkbox"
                id="{{t.tag.id}}"
                [(ngModel)]="t.selected"
                (change)="projectFilter()">
              <label for="{{t.tag.id}}">
                {{t.tag.name}}
                <mat-icon [ngStyle]="{'color': getTagColor(t.tag.id)}">
                  circle
                </mat-icon>
              </label>
            </li>
          </ul>
      </li>
      <li>
        <a href="https://github.com/amiller68/krondor" target="_blank">My GitHub</a>
      </li>
    </ul>
  </aside>
  <main>
    <mat-toolbar class="toolbar">
      <span>projects.</span>
      <span class="spacer"></span>
      <button mat-button class='toolbar-button' *ngIf="isAdmin | async"
              aria-label="Add proejct"
              (click)="openProjectEditor({project: defaultProjectCopy, tags: getTags(), action: 'Add'})">
        <mat-icon>add</mat-icon>
      </button>
    </mat-toolbar>
    <hr>
    <p>Take a look at what I've been up to</p>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let p of filteredProjectPanels"
                           hideToggle
                           (opened)="p.opened = true"
                           (closed)="p.opened = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span>{{p.project.title}}</span>
          </mat-panel-title>
          <mat-panel-description>
            <div class="project-tag-icons">
              <mat-icon *ngFor="let t of p.project.tags"
                        [ngStyle]="{'color': getTagColor(t), 'float': 'right'}"
                        matTooltip="getTagName(t)"
                        [matTooltipPosition]="tagToolTipPosition">
                circle
              </mat-icon>
            </div>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <!--This renders the project description in Markdown-->
        <md-editor name="Content"
                   [height]="'400px'"
                   [mode]="'preview'"
                   [options]="options"
                   [(ngModel)]="p.project.description">
        </md-editor>
        <div class="change-content-buttons" *ngIf="isAdmin | async">
          <button (click)="openProjectEditor({project: p.project, tags: getTags(), action: 'Edit'})">
            Edit
          </button>
          <button (click)="openProjectEditor({project: p.project, tags: getTags(), action: 'Delete'})">
            Delete
          </button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </main>
</body>
