.spacer
  flex: 1 1 auto

.toolbar
  font: 30px font-stack
  background: black
  color: white
  .toolbar-button
    size: auto

mat-sidenav-container
  flex: 1 1 auto
  overflow: auto
  height: 100%
  flex-grow: 1
  mat-sidenav
    display: flex
  mat-sidenav-content
    background: dimgray
    mat-expansion-panel
      background: black
      color: white
      //.mat-expanded
      //  background: white
      //  color: black

